---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Aktualności";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <p>Jesteśmy jak woda w kranie</p>
    <ul>
      <li><a href="/posts/post-1/">Zaczynamy</a></li>
      <li><a href="/posts/post-2/">Atrakcje-trasy</a></li>
    </ul>
  </div>
</BaseLayout>
