---
import BaseLayout from "../layouts/BaseLayout.astro";
import StravaEmbed from "../components/StravaEmbed.astro";

const pageTitle = "Trans 2025 - liga.cc";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    Wiadomo co intersuje nas najbardziej
    <StravaEmbed />
  </div>
</BaseLayout>
