---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import StravaEmbed from "../components/StravaEmbed.astro";

const pageTitle = "Trasa";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <h1>{pageTitle}</h1>
    <StravaEmbed />
  </div>
</BaseLayout>
