---
const platform = "stava";
const username = "withastro";
---

<footer>
  <p>
    Dowiedz się więcej o sporcie <a
      href={`https://www.${platform}.com/athletes/25317005`}>{platform}</a
    >!
  </p>
</footer>
