---
import ReadableFontToggle from "../components/ReadableFontToggle.astro";
---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/trasa/">Trasa</a>
  <a href="/blog/">Blog</a>
  <a href="/milosz/">Milosz</a>
</div>
<!-- <ReadableFontToggle /> -->
