---
const gifUrl = "../assets/img/dancing-romanian.gif";
---

<div
  style="display: flex; justify-content: center; align-items: center; height: 100vh;"
>
  <img
    src={gifUrl}
    alt="Romanian GIF"
    style="max-width: 100%; height: auto; border-radius: 10px;"
  />
</div>
