---
// StravaEmbed.astro
---

<div
  class="strava-embed-placeholder"
  data-embed-type="route"
  data-embed-id="3318901321040709206"
  data-style="standard"
  data-map-hash="6.72/46.032/25.183"
  data-from-embed="true"
>
</div>
<script is:inline src="https://strava-embeds.com/embed.js"></script>
